body {
  /*position: relative;*/
  background-color: hsl( 0, 0%, 50%);
}

body, p {
  font-family: sans-serif;
}

p {
  /*position: relative;*/
  /*left: 100px;*/
  /*top: 100px;*/
  /*border: solid;*/
}
.p1  {
  position: relative;
  background-color: hsl( 0, 0%, 70%);

}
.p2  {
  position: relative;
  background-color: hsl( 0, 0%, 60%);

}

h1 {
  /*position: relative;*/
  left: 100px;
  top: 200px;
  background-color: hsl( 0, 0%, 70%);
  /*border: solid;*/
}

h2 {
  /*position: relative;*/
  left: 100px;
  top: 200px;
  background-color: hsl( 0, 0%, 70%);
  /*border: solid;*/
  float: right;
}

h3 {
  /*position: fixed;*/
  left: 50px;
  top: 200px;
  background-color: hsl( 0, 0%, 70%);

  /*border: solid;*/
}

.container {
  background-color: red;
  width: 80%;
  margin: 0px auto;
  position: relative;
}

div {
  padding: 1em;
  border: solid;
  border-width: 1px 1px 0 1px;
}

div#tooltip_container{
  border: none;
  background-color: #333333;
  /*display: none;*/
  position: absolute;
  float: left;
}
.d1 {
  height: 300px;
  width: 300px;
  background-color: hsl( 0, 0%, 75%);
  position: relative;
  float: left;
  /*border: solid;*/
}

.d2 {
  left: 0;
  top: 50px;
  background-color: hsl( 0, 0%, 70%);
  float: left;
  height: 300px;
  width: 300px;
  position: relative;
}

p.clearfix {
  clear: both;
}
