body {
  /*position: relative;*/
}

body, p {
  font-family: sans-serif;
}

p {
  /*position: relative;*/
  left: 100px;
  top: 200px;
  /*border: solid;*/
}
.p1  {
  position: relative;
}

h1 {
  /*position: relative;*/
  left: 100px;
  top: 200px;
  /*border: solid;*/
}

h2 {
  /*position: relative;*/
  left: 100px;
  top: 200px;
  /*border: solid;*/
  float: right;
}

h3 {
  position: fixed;
  left: 50px;
  top: 200px;
  /*border: solid;*/
}

.d1 {
  position: relative;
  /*border: solid;*/
}
